name: flutter_solidart
description: A simple State Management solution for Flutter applications inspired by SolidJS
version: 2.0.0
repository: https://github.com/nank1ro/solidart
documentation: https://docs.page/nank1ro/solidart~dev
topics:
  - state-management
  - signals

environment:
  sdk: ^3.0.0
  flutter: ">=1.17.0"

dependencies:
  collection: ^1.18.0
  flutter:
    sdk: flutter
  meta: ^1.11.0
  solidart: ^2.0.0-dev.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  very_good_analysis: ^5.1.0
