name: flutter_solidart
description: A simple State Management solution for Flutter applications inspired by SolidJS
version: 2.7.2
repository: https://github.com/nank1ro/solidart
documentation: https://solidart.mariuti.com
topics:
  - state-management
  - signals

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

resolution: workspace

dependencies:
  collection: ^1.18.0
  flutter:
    sdk: flutter
  meta: ^1.11.0
  solidart: ^2.8.3

dev_dependencies:
  disco: ^1.0.0
  flutter_test:
    sdk: flutter
  mockito: ^5.5.1
  very_good_analysis: ^10.0.0
