name: flutter_solidart
description: A simple State Management solution for Flutter applications inspired by SolidJS
version: 1.0.1
repository: https://github.com/nank1ro/solidart
documentation: https://docs.page/nank1ro/solidart~dev
topics:
  - state-management
  - signals

environment:
  sdk: ^3.0.0
  flutter: ">=1.17.0"

dependencies:
  collection: ^1.17.2
  flutter:
    sdk: flutter
  meta: ^1.9.1
  solidart: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0
  very_good_analysis: ^5.0.0+1

flutter:
