name: solidart
description: A simple State Management solution for Dart applications inspired by SolidJS
version: 2.0.0
repository: https://github.com/nank1ro/solidart
documentation: https://docs.page/nank1ro/solidart~dev
topics:
  - state-management
  - signals

environment:
  sdk: ^3.6.0

resolution: workspace

dependencies:
  collection: ^1.18.0
  meta: ^1.11.0

dev_dependencies:
  mockito: ^5.4.4
  test: ^1.25.3
  very_good_analysis: ^5.1.0
